#name {
  color: maroon;
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
  background-color: rgb(40, 39, 39) 
}
.headline {
  background-color:grey;  
  margin: 12px;
  padding: 6px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h2 {
  color: maroon;
  font-size: 20px;
}

.sidebar {
  margin: 5px;
  border: 2px solid white;
  padding: 6px;
  background-color: maroon;
  height:auto;
  float: left;
}

.about {
  background-color: whitesmoke;
  padding: 6px;
  width: 90vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.rooftop {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

  

}